.app-download {
  text-align: center;
  padding: 50px 20px;
  background-color: #f8f8f8;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #00000015;
  margin: 20px 0;
}

.app-download h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.app-download p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.app-download-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.app-download-buttons a img {
  width: 140px;
  transition: transform 0.3s;
}

.app-download-buttons a:hover img {
  transform: scale(1.1);
}
